[submodule "vendor/http-parser"]
	path = vendor/http-parser
	url = https://github.com/nodejs/http-parser.git
[submodule "vendor/llhttp"]
	path = vendor/llhttp
	url = https://github.com/nodejs/llhttp.git